<%- include('../partials/header') %>

<nav class="navbar navbar-expand-lg navbar-dark admin-navbar mb-4">
  <div class="container">
    <a class="navbar-brand fw-bold" href="/admin">
      <i class="fas fa-link me-2"></i> LinkTree Admin
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/admin">
            <i class="fas fa-th-list me-1"></i> Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/links/new">
            <i class="fas fa-plus-circle me-1"></i> Novo Link
          </a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="/" target="_blank" class="nav-link">
            <i class="fas fa-external-link-alt me-1"></i> Ver Página
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
            <i class="fas fa-user-circle me-1"></i> Olá, <%= username %>
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="/admin/change-password"><i class="fas fa-key me-2"></i> Alterar Senha</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/admin/logout"><i class="fas fa-sign-out-alt me-2"></i> Sair</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container"
